*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{
/*variaveis*/
--bg-color:#EDF2FF;
--text-color: #00082F;
}

a{
text-decoration: none;
}

body.dark-blue{
    --bg-color:#041130;
    --text-color:#e0ad72;
    font-family: 'Roboto', sans-serif;
}


body{
    background: var(--bg-color);
    color: var(--text-color)
   
}

.ss{
    text-align: center;
    width: 300px;
    margin: 60px auto;
}

img{
    width: 100%;
}
h1{
    font-size: 32px;
        margin-top: 24px;
        margin-bottom: 8px;
    }
.pa{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400
    opacity: 0.8;
    font-size: 18px;
}


.avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: #eba242 solid 4px;
    padding: 3.7px;
}

ul{
    list-style: none;
    margin: 40px 0;
}

ul li a{
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c78d45;
    color: #f7f4f1;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
border-radius: 6px;
}

ul li a:hover{
background: #725128;

transition: background 400ms;
} 

footer{
font-weight: 500;
font-size: 12px;
opacity: 0.6;
transition: opacity 400ms;
}

footer:hover{
opacity: 1;
}

footer a{
color: var(--text-color)
}